@import '../styles/landing-page/style.css';
@import '../styles/components/student.css';
@import '../styles/components/student-account.css';
@import '../styles/components/student-corse.css';
@import '../styles/components/instructor.css';
@import '../styles/components/profile.css';
@import '../styles/components/Course-listing.css';

/* Core Style */
html,
body {
  min-height: 100%;
  background-color: white !important;
  /* background-image: url(../public/images/landingpage/bg-hero\ 2.png); */
  /* background-image: url(../../public/images/landingpage/bg-hero\ 1.png); */
  width: 100%;
  box-sizing: border-box !important;
  height: auto;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color:  #1F1F1F!important; */
  color: #fff;
  /* font-size: 14px; */
}

#__next {
  height: 100%;
}

code {
  font-family:
    'Public Sans',
    sans-serif,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}

code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}

code[class*='language-'] {
  padding: 0;
}

.customebg {
  /* background-image: url(../public/images/landingpage/bg-hero\ 2.png); */
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: transparent !important;
}

#demo-multiple-chip-label {
  color: white !important;
}

.layout-page-content {
  padding-top: 140px !important;
  background-color: white !important;
}

/* 
.customebg .layout-page-content {
  background-image: url(../public/images/landingpage/bg-hero\ 2.png);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 !important;
  background-color: #1F1F1F;
} */
/* header  */

.layout-navbar {
  /* background-color: black !important; */
  /* background-image: url(../public/images/landingpage/bg-hero\ 2.png); */
  /* height: 10vh; */
  /* position: absolute; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  width: 100%;
  /* background-position: 0px -92px;;
  background-repeat: no-repeat;
  background-size: cover; */
  /* box-shadow: none !important; */
  background-color: transparent !important;
  margin: 0;
  padding: 0px 30px !important;
  /* border-bottom: 1px solid #414141; */
}

.setimagebac {
  background-image: url(../public/images/landingpage/bg-hero\ 2.png);
  height: auto;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.layout-navbar::after {
  background: none !important;
}

.navbar-content-container {
  background-color: transparent !important;
  max-width: 83% !important;
  padding: 30px !important;
  margin-top: 0 !important;
}

@media screen and (max-width: 375px) {
  .navbar-content-container {
    max-width: 134% !important;
  }

  .navbar {
    padding: 0 -4px !important;
  }
}

@media screen and (max-width: 500px) {
  .smallColor {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 600px) {

  /* .MuiBox-root {
    display: flex !important;
    flex-wrap: wrap !important;
    text-align: center !important;
    justify-content: center !important;
  } */
  /* .header-content-action {
    display: flex !important;
    flex-direction: column !important;
  } */
  .header-root {
    display: flex !important;
    flex-wrap: wrap !important;
    text-align: center !important;
    justify-content: center !important;
  }

  .header-actions {
    display: inline-masonry !important;
    flex-wrap: nowrap !important;
  }
}

@media screen and (max-width: 320px) {
  .exploreHeader {
    display: contents !important;
  }

  /* .MuiBox-root {
    display: inline !important;
  } */
  .shapingBox {
    display: flex !important;
  }

  .header-actions {
    display: flex !important;
  }

  .actions {
    display: flex !important;
  }

  .blackbox {
    display: contents !important;
  }
}

.input-group:focus-within .form-control,
.input-group:focus-within .input-group-text {
  border: 1px solid #7367f0 !important;
  box-shadow: none !important;
  background-color: transparent !important;
  /* color: #fff !important; */
}

.input-group:focus {
  border: 1px solid #86b7fe !important;
  color: #fff;
}

/* .MuiInputBase-root,
.MuiOutlinedInput-root,
.MuiInputBase-colorPrimary,
.css-k8a95c-MuiInputBase-root-MuiOutlinedInput-root {
  color: black !important;
} */

/* .course-creations.MuiInputBase-root,
.MuiOutlinedInput-root,
.MuiInputBase-colorPrimary,
.css-k8a95c-MuiInputBase-root-MuiOutlinedInput-root {
  
  color: black !important;
} */

.search-text-listing div {
  background-color: white !important;
  color: black !important;
  padding: 5px;
}

/* .auth-register-form .MuiOutlinedInput-root {
  border: 1px solid black !important;
  color: white !important;
  background-color: #79717157 !important;
}

.MuiButtonBase-root,
.MuiIconButton-root,
.MuiIconButton-edgeEnd,
.MuiIconButton-sizeMedium .css-2m6p2c-MuiButtonBase-root-MuiIconButton-root {
  color: #1f1f1f;
} */

/* .auth-register-form .form-control {
  background-color: #e8f0fe;
  color: #2c2c2c;
}
.auth-register-form .form-control:focus {
  background-color: #a3a3a399;
  color: black !important;
}
.auth-register-form .css-13iz87f-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  background-color: #d9d9d9 !important;
}
.auth-register-form .MuiSelect-icon {
  color: #2c2c2c !important;
} */

.form-control {
  /* color: #fff;
  background-color: #2c2c2c66; */
  /* border: 1px solid #ffffff !important; */
  /* border-left: 0; */
}

.enterpriser-form .form-control {
  /* background-color: #2c2c2c42 !important; */
  color: black !important;
}

.enterpriser-form .btn-secondary {
  background-color: #5546ff;
  color: #d9d9d9 !important;
}

/* .MuiPaper-root,
.MuiPaper-elevation,
.MuiPaper-elevation4,
.MuiAppBar-root,
.MuiAppBar-colorDefault,
.layout-navbar-and-nav-container,
.css-nrp8av-MuiPaper-root-MuiAppBar-root {
  background: transparent;
} */

.form-control:focus {
  background-color: #f8fdff00 !important;
  color: black !important;
}

.form-control:focus .input-group-text {
  color: #ffffff !important;
  border-color: #86b7fe !important;
  background-color: #1f1f1f !important;
  border-color: #86b7fe !important;
  outline: 0;
  box-shadow: none !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

.invertedImage {
  filter: invert(1);
}

.dropdown-menu {
  color: #b4b7bd !important;
  background-color: white;
  margin-top: 12px;
  padding: 10px !important;
}

.dropdown-item {
  color: #b4b7bd !important;
}

.dropdown-item:hover {
  color: #00090f !important;
}

/* nav And tabs */
.nav-tabs {
  --bs-nav-tabs-border-width: 0 !important;
  --bs-nav-tabs-border-color: transparent !important;
  --bs-nav-tabs-border-radius: 0 !important;
  --bs-nav-tabs-link-hover-border-color: #e9ecef00 #e9ecef00 #dee2e600 !important;
  --bs-nav-tabs-link-active-color: #6282f0;
  --bs-nav-tabs-link-active-bg: rgba(255, 255, 255, 0) !important;
  --bs-nav-tabs-link-active-border-color: #e9ecef00 #e9ecef00 #dee2e600 !important;
}

.nav-link {
  color: black !important;
  cursor: pointer;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-bottom: 1px solid #eae8fa !important;
}

.drop-btn {
  color: black !important;
  background-color: #eae8fa;
}

.drop-btn li {
  color: black !important;
}

/* footer */
.layout-footer {
  border-top: 1px solid #414141;
  /* margin-top: 40px; */
  background-color: white !important;
}

@media screen and (max-width: 600px) {
  .input-width-profile {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .company-description-left {
    padding-left: 12px !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.css-smtnqe-MuiToolbar-root {
  box-shadow: none !important;
}

/* search box */
.search-text #outlined-adornment-weight {
  padding: 9px 15px !important;
}

.custom-select {
  padding: 0px 15px !important;
  color: black !important;
  background-color: white !important;
  border-radius: 5px !important;
  /* optional */
  border: 1px solid black !important;
}

.custom-select svg {
  /* For dropdown icon if needed */
  color: black !important;
}

.search-text .MuiSelect-select {
  padding: 9px 15px !important;
}

.search-text div div {
  width: 290px;
}

.marquee {
  display: flex;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 763px) {
  .search-text div div {
    width: 262px;
  }
}

@media (max-width: 557px) {
  .search-text div div {
    width: 350px;
  }
}

@media (max-width: 425px) {
  .search-text div div {
    width: 150px !important;
  }
}

@media (max-width: 429px) {
  .search-text div div {
    width: 250px;
  }
}

@media (max-width: 375px) {
  .search-text div div {
    width: 200px;
  }
}

@media (max-width: 337px) {
  .search-text div div {
    width: 150px;
  }
}

/* .search-text .css-1yovagg-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  min-width: 27rem !important;
} */

/* .css-1if6pu9-MuiDialogContent-root {
  overflow: hidden;
} */

.course_action h5 {
  cursor: pointer;
}

.common-btn {
  background: grey !important;
}

.bg-danger-btn {
  background: Red !important;
}

/* login */
.login-page {
  /* background-image: url(../public/images/landingpage/bg-hero\ 1.png); */
  height: 100vh;
  width: 100%;
  z-index: 999;
  background-color: white !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setBcimage {
  background-image: url(../public/images/landingpage/bg-hero\ 1.png);
  height: 100vh;
  width: 100%;
}

.ragister-page {
  background-color: white !important;
  /* background-image: url(../public/images/landingpage/bg-hero\ 1.png); */
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* .MuiDialog-scrollBody {
  background-color: white !important;
} */
.login-wrap {
  height: 580px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  /* background: rgba(214, 214, 214, 0.42); */
  border-radius: 10px;
  /* / box-shadow: 0px 1px 35px -17px #363535;  */
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 15px;
  margin: 0 15px;
  /* margin-top: 130px; */
  position: relative;
  z-index: 999;
}

.layout-ragister {
  box-shadow: none !important;
}

.layout-content-wrapper .css-nrp8av-MuiPaper-root-MuiAppBar-root {
  /* box-shadow: none !important;
  background-color: transparent !important;
  backdrop-filter: none !important; */
}

.layout-content-wrapper header {
  position: fixed !important;
  background-color: white !important;
  /* box-shadow: none !important; */
}

/* .login-wrap::before{
    z-index: -1;
    top: -79px;
    content: "";
    left: -46px;
    width: 238px;
    height: 234px;
    position: absolute;
    background-color:#1F1F1F;
    opacity: 0.6;
    border-radius: 30px;
}
.login-wrap::after {
  z-index: -1;
  content: "";
  width: 180px;
  right: -57px;
  height: 180px;
  bottom: -54px;
  position: absolute;
  background-color:#1F1F1F;
  opacity: 0.6;
  border-radius: 30px;
} */
/* .box-border{
  z-index: -1;
  top: -117px;
  content: "";
  left: 55px;
  width: 190px;
  height: 170px;
  position: absolute;
  border: 5px solid #1F1F1F;
  opacity: 0.6;
  border-radius: 30px;
} */
/* .box-border:after{
  z-index: -1;
  content: "";
  width: 220px;
  right: -287px;
  height: 220px;
  top: 667px;
  position: absolute;
  border: 4px dashed #1F1F1F;
  opacity: 0.6;
  border-radius: 30px
} */
.custom-file-upload {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: transparent;
  border: 2px dotted black;
  width: 150px;
  height: 150px;
}

.add-buttone {
  width: 30px;
  height: 30px;
  background-color: #414141;
  padding: 8px;
  border-radius: 50%;
}

.add-font {
  font-size: 12px;
}

.icon {
  margin: 10px;
}

.addHeadingColor {
  color: #4f46e5 !important;
}

.list-unstyled a {
  color: black !important;
  font-size: 19px;
  text-decoration: none;
}

.header-menu a {
  color: black !important;
  font-size: 19px;
  text-decoration: none;
}

/* .css-1vhxq3q-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px white inset !important;
  -webkit-text-fill-color: black !important;
} */
/* .css-193dc3-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px white inset !important;
  -webkit-text-fill-color: black !important;
} */

/* Custom autofill styling for input fields */
.custom-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px white inset !important;
  -webkit-text-fill-color: black !important;
}

.custom-input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 100px white inset !important;
  -webkit-text-fill-color: black !important;
}

.custom-input:-internal-autofill-selected {
  background-color: white !important;
  -webkit-text-fill-color: black !important;
}

.student-icon {
  margin: 10px;
}

#question-name {
  font-size: 18px;
  margin-top: 14px;
}

.tabs {
  border-bottom: 1px solid #dce0f936 !important;
}

.course-tab-list {
  border-bottom: 0px solid #e4e6f400 !important;
}

.tab-label {
  font-size: 0.75rem;
}

@media (min-width: 576px) {
  .tab-label {
    font-size: 0.875rem;
  }
}

@media (min-width: 768px) {
  .tab-label {
    font-size: 1rem;
  }
}

.Quiz-submit {
  border-radius: 10px;
  padding: 7px 27px;
  margin-top: 20px;
}

/* ragister */
.css-19jvvxb {
  /* background-color: rgba(214, 214, 214, 0.42) !important; */
  /* background-color: transparent !important; */
}

/* .css-941hw7-MuiPaper-root-MuiDialog-paper {
  background-color: transparent !important;
  overflow: hidden;
}

.css-941hw7-MuiPaper-root-MuiDialog-paper {
  max-width: 780px !important;
} */

.MuiAppBar-positionSticky {}

.apexcharts-tooltip {
  background: #f3f3f3;
  color: #5a61f8;
}

a.carousel-control-prev {
  top: 80px;
  bottom: 80px;
  width: 40px;
}

a.carousel-control-next {
  width: 40px;
  top: 80px;
  bottom: 80px;
}

.carousel-indicators {
  display: none;
}

.arrow_box {
  position: relative;
  background: transparent;
  padding: 10px 15px;
  border: none;
}

#chart .apexcharts-tooltip {
  color: #fff;
  font-weight: 500;
  font-size: 0px;
  transform: translateX(10px) translateY(10px);
  overflow: visible !important;
  white-space: normal !important;
}

#chart .apexcharts-tooltip span {
  padding: 5px 10px;
  display: inline-block;
}

.iconify.iconify--tabler {
  color: black;
}

.bg-custom-brown {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: white !important;
}

.navbar-collapse .btn:focus,
.btn:active {
  background-color: transparent !important;
}

.noti-item {
  padding: 1rem;
  cursor: pointer;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.noti-noview {
  color: #ffffff;
}

.noti-view {
  color: #c1c1c1;
}

.noti-buble {
  border-radius: 50%;
  padding: 5px;
  height: 5px;
}

.text {
  display: block;
  /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.4em;
  line-height: 1.8em;
}

.form-control:disabled {
  color: white;
  background: transparent !important;
}

.rdw-editor-main {
  height: 300px !important;
}

.model-border-radius,
.css-19rdwq3 {
  border-radius: 10px !important;
  border: none !important;
}

.css-1yovagg-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  /* padding: 8.5px 14px !important; */
  /* background: white !important; */
  /* color: white !important; */
}

.custom-textarea {
  border: 1px solid black !important;
  border-radius: 5px;
  margin-top: 8px;
}

/* Input text color */
.custom-textarea input,
.custom-textarea textarea {
  color: black;
}

.custom-textarea input::placeholder,
.custom-textarea textarea::placeholder {
  color: grey;
  opacity: 1;
}

/* .css-j3wdbc-MuiInputBase-input-MuiInput-input {
  padding: 9px 0 5px !important;
  color: white !important;
} */
.customCheckbox {
  display: block;
  position: relative;
  padding-left: 30px;
  padding-bottom: 27px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.customCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  /* top: 0;
  left: 0; */
  height: 25px;
  width: 25px;
  border: 1px solid black;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  /* background-color: ; */
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
/* .customCheckbox:hover input ~ .checkmark {
  background-color: #2c2c2c;
} */

/* When the checkbox is checked, add a blue background */
.customCheckbox input:checked~.checkmark {
  background-color: #2c2c2c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.customCheckbox input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.customCheckbox .checkmark:after {
  left: 10px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
}